@import 'vars';
@import 'fonts';
@import 'fonts_2';
@import 'fonts_3';
@import "nullStyle";
@import 'libs';
@import 'global';
@import 'hamburger';

// =====================================МИКСИНЫ=====================================================================================
@mixin background-img($file, $repeat ,$position...) {
	background-image: url($file);
	background-position: $position;
	background-repeat: $repeat;
}
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 280;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 280px) / #{$maxWidth}));
}
@mixin adaptiv-height($heightSize, $plusHeightSize) {
	height: calc(100vh - (#{$heightSize + px} + #{$plusHeightSize + px}));
}
// =================================================================================================================================

.header {
	&__info {
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 16px;
		transition: all 1s;
		margin: 0 auto;

		&.active {
			font-size: 14px;
		}
	}
	&__inner {
		width: 100%;
		background-color: transparent;
		padding: 20px 0px;
		transition: all 1s;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		transition: all 1s;
	}
	&__logo-link {
		font-family: inherit;
		font-size: 35px;
		font-weight: 500;
		color: #b0a9a5;
		text-transform: uppercase;
		transition: all 1s;
		margin-bottom: 10px;

		& span {
			display: inline-block;
		}
		& span:first-child {
			color: #0b8eab;
			transform: rotate(5deg);
		}
		& span:nth-child(2) {
			color: #e2664c;
			transform: rotate(-5deg);
		}
		& span:nth-child(3) {
			color: #c44a9a;
			transform: rotate(5deg);
		}
		& span:nth-child(4) {
			color: #8a9bab;
			transform: rotate(-5deg);
		}
		& span:nth-child(5) {
			color: #e7a9b1;
			transform: rotate(5deg);
		}
		& span:nth-child(6) {
			color: #b00000;
			transform: rotate(-5deg);
		}
		& span:nth-child(7) {
			color: #4e4051;
			transform: rotate(5deg);
		}
		& span:last-child {
			color: #33CCCC;
			transform: rotate(-5deg);
		}
		&.active {
			font-size: 30px;
			margin-bottom: 5px;
		}
	}
	&__form {
		display: flex;
		justify-content: center;
		background-color: #494d4e;
		height: 150px;
		align-items: center;
		border-radius: 5px;
		padding: 0 10px;
	}
	&__form-search {
		max-width: 500px;
		width: 100%;
		height: 60px;
		border: 1px solid #dedee2;
		border-radius: 5px 0 0 5px;
		font-size: 16px;
		padding: 5px;
	}
	&__form-btn {
		width: 50px;
		height: 60px;
		border-radius: 0 5px 5px 0;
		background-color: $blueColor;
		transition: all .5s;

		&::before {
			font-family: 'icomoon';
			content: "\e903";
			top: 0;
			left: 0;
			font-size: 20px;
		}
	}
	&__top-panel {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__phone {
		position: absolute;
		right: 290px;
		display: flex;
		flex-direction: column;
		margin-right: 40px;
		transition: all 1s;
	}
	&__phone-tel:not(:last-child) {
		margin-bottom: 10px;
	}
	&__phone-tel {
		font-family: inherit;
		font-weight: 500;
		font-size: 20px;
	}
	&__wishes-text,
	&__cart-text,
	&__login-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		font-family: inherit;
		text-transform: uppercase;
		padding: 10px;
		margin-left: 20px;
		transition: all 1s;

		&::before {
			font-family: 'icomoon';
			top: 0;
			left: 0;
			font-size: 20px;
			margin-bottom: 10px;
		}
	}
	&__wishes-text,
	&__cart-text {
		position: relative;
		transition: all 1s;
		&::after {
			position: absolute;
			content: '0';
			top: 2px;
			right: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 17px;
			min-height: 17px;
			font-size: 13px;
			font-weight: 500;
			color: #fff;
			border: 1px solid $blueColor;
			border-radius: 50%;
			background-color: $blueColor;
			padding: 1px 2px 0;
			transition: all 1s;
		}
	}
	&__wishes-text::after {
		right: 30px;
	}
	&__wishes-text::before {
		content: "\e902";
		transition: all 1s;
	}
	&__cart-text::before {
		content: "\e901";
		transition: all 1s;
	}
	&__login-text::before {
		content: "\e900";
		transition: all 1s;
	}
	&__menu-list {
		display: flex;
		justify-content: space-between;
	}
	&__menu-item {
		font-size: 17px;
		text-transform: uppercase;
		font-weight: 500;
		padding-bottom: 10px;

		&.show-menu {
			.header__menu-sub-list {
				background-color: $blueHoverMenu;
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0px);
				pointer-events: auto;
			}
			.header__menu-item-btn::before {
				transform: rotate(-91deg);
			}
		}
	}
	&__menu-item:not(:first-child) {
		margin-left: 5px;
	}
	&__menu-item:not(:last-child) {
		margin-right: 5px;
	}
	&__menu-item:first-child {
		position: relative;
		margin-right: 15px;
		padding-right: 25px;
		transition: all .5s;
	}
	&__menu-link {
		padding: 10px 5px;
		transition: all .5s;
		
		&.active {
			background-color: green;
		}
	}
	&__menu-item-btn::before,
	&__menu-sub-item-btn::before {
		position: absolute;
		font-family: 'icomoon';
		content: "\e906";
		top: 0;
		right: 0;
		font-size: 32px;
		line-height: 36px;
		transform: rotate(90deg);
		transition: all .5s;
	}
	&__menu-item-btn::before {
		right: 10px;
	}
	&__menu-sub-item-btn.rotate::before {
		transform: rotate(180deg);
	}
	&__menu-sub-list {
		position: absolute;
		top: 88%;
		left: 0;
		min-width: 180px;
		transform: translate(0, 10px);
		transition: all .5s;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		padding-right: 8px;
		margin: 5px 0;
	}
	&__menu-sub-item {
		position: relative;
		padding: 10px 0;

		&.show-sub-menu {
			.header__menu-sub-list-cat {
				background-color: $grafit;
				opacity: 1;
				visibility: visible;
				transform: translate(156%, -32px);
			}
		}
	}
	&__menu-sub-link {
		position: relative;
		font-size: 16px;
		transition: all .3s linear;
		margin-left: 5px;
		padding-right: 15px;
	}
	&__menu-sub-list-cat {
		position: absolute;
		transform: translate(200%, 10px);
		transition: all .5s;
		opacity: 0;
		visibility: hidden;
		margin: 5px 0;
	}
	&__menu-sub-item-cat {
		padding: 10px 0;
	}
	&__menu-sub-link-cat {
		font-size: 16px;
		margin: 0 5px;
		transition: all .5s;
	}
}
//====================================change-header-scroll================
.main.active {
	padding-top: 170px;
}
.header {
	&.active {
		position: fixed;
		min-height: $minHeight;
		transition: all 1s;
		z-index: 100;

		& .header__menu-item {
			padding-bottom: 0;
		}
		& .header__menu-link {
			font-size: 14px;
		}
		& .header__menu-item-btn::before,
		& .header__menu-sub-item-btn::before {
			font-size: 29px;
			line-height: 32px;
		}
		& .header__menu-sub-item-btn::before {
			margin-right: 20px;
		}
		& .header__top {
			margin-bottom: 10px;
		}
	}
	&__inner.active {
		padding: 10px 0px 0;
	}
	&__wishes-span {
		transition: all 1s;
	}
	&__wishes-span.active {
		font-size: 0;
		opacity: 0;
		visibility: hidden;
		transition: all 1s;
	}
	&__phone.active {
		position: absolute;
		top: 0;
		right: 63px;
		transform: scale(0);
		transition: all .8s;

		&.activated {
			top: 83px;
			right: 55px;
			transform: scale(1);
			border-top: 0px;
			border-radius: 0 0 5px 5px;
			background-color: $blueColor;
			padding: 10px;
		}
	}
	&__phone-icon-phone.active::before {
		content: "\e913";
		font-family: 'icomoon';
		font-size: 26px;
		line-height: 30px;
	}
	&__phone-icon-phone.activated::before {
		color: $blueColor;
	}
	&__wishes-text.active, 
	&__cart-text.active, 
	&__login-text.active {
		width: auto;
		height: auto;
		padding: 0;
		margin-left: 34px;
		transition: all 1s;
	}
	&__wishes-text.active {
		margin-left: 23px;
		transition: all 1s;
	}
	&__wishes-text.active::after, 
	&__cart-text.active::after {
		top: -8px;
		transition: all 1s;
	}
	&__wishes-text.active::before, 
	&__cart-text.active::before, 
	&__login-text.active::before {
		font-size: 25px;
		margin-bottom: 0;
		transition: all 1s;
	}
	&__wishes-text.active::after {
		right: -20px;
		transition: all 1s;
	}
	&__cart-text.active::after {
		right: -15px;
		transition: all 1s;
	}
}
//====================================change-header-scroll================

//====================================button-to-up========================
#btn-up {
	display: none; /* Скрыто по умолчанию */
	position: fixed; /* Фиксированное / липкое положение */
	bottom: 90px; /* Поместите кнопку в нижней части страницы */
	right: 30px; /* Разместить кнопку 30 пикселей от правого */
	z-index: 99; /* Убедитесь, что он не перекрывается */
	border: none; /* Удалить границы */
	outline: none; /* Удалить контур */
	background-color: red; /* Установка цвета фона */
	color: white; /* Цвет текста */
	cursor: pointer; /* Добавить указатель мыши при наведении */
	padding: 15px; /* Немного отступов */
	border-radius: 10px; /* Округленные углы */
	font-size: 18px; /* Увеличить размер шрифта */
	transition: all .5s;
	}

#btn-up:hover {
	background-color: $blueHover; /* Добавить темно-серый фон при наведении курсора */
	color: #000;
	}
//====================================button-to-up========================

//====================================main-slider-top=====================
.main__slider {
	width: 100%;
	margin-bottom: 50px;

	& .container {
		padding: 0;
	}
	&-inner {
		width: 100%;
		max-height: 100%;
		padding-top: 0;
	}
	&-item {
		width: 100%;
		max-height: 100%;
	}
	&-img {
		top: 0;
		left: 0;
		width: 100%;
		height: 40vw;
	}
}
//====================================arrows of slider====================
.main-next,
.main-prev {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 10;
	background: transparent;
}
.main-next {
	right: 4%;
}
.main-prev {
	left: 4%;
}
.main-next::before,
.main-prev::before {
	font-family: 'icomoon';
	font-size: 30px;
	border-radius: 50%;
	background-color: $greyHover;
	padding: 12px 20px;
	transition: all .5s;
}
.main-next:hover::before,
.main-prev:hover::before {
	background-color: rgba(227, 227, 231, .7);
}
.main-next::before {
	content: "\e907";
}
.main-prev::before {
	content: "\e906";
}
//====================================arrows of slider=====================

//====================================dots of slider=======================
.slick-dots {
	position: absolute;
	bottom: 30px;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	& li {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 3px solid $greyHover;
		border-radius: 50%;
		cursor: pointer;
		padding: 7px;
		margin: 3px;
	}
	& li button {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		font-size: 0;
		background-color: $blueColor;
	}
	& li.slick-active button {
		width: 20px;
		height: 20px;
	}
}
//====================================dots of slider=======================
//====================================main-slider-top======================

//====================================main-advantages======================
.main-advantages {
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		border: 2px solid $grey;
		border-radius: 5px;
		background-color: #fff;
	}
	&__item {
		position: relative;
		flex: 0 1 290px;
		color: red;
		border: 2px solid transparent;
		padding-left:50px;
		margin: 20px 10px;

		&:hover {
			border: 2px solid $blueColor;
			border-radius: 5px;
			.main-advantages__title {
				color: $blueColor;
			}
		}
	}
	&__title {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	&__text {
		font-size: 15px;
		// color: $grey;
		color: red;
	}
	&__item--rocket::before,
	&__item--quality::before,
	&__item--wallet::before,
	&__item--question::before {
		position: absolute;
		top: 0;
		left: 0;
		font-family: 'icomoon';
		font-size: 30px;
	}
	&__item--rocket::before {
		content: "\e908";
	}
	&__item--quality::before {
		content: "\e920";
	}
	&__item--wallet::before {
		content: "\e921";
	}
	&__item--question::before {
		content: "\e905";
	}
	&__item--rocket:hover::before,
	&__item--quality:hover::before,
	&__item--wallet:hover::before,
	&__item--question:hover::before {
		color: $blueColor;
	}
}
//====================================main-advantages======================

//====================================main-sale-timer======================
.main-sale-timer {
	&__date {
		display: none;
	}
	& .main-sections__inner {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		background-color: #494d4e;
		padding: 30px 20px;
	}
	&__row:first-child {
		flex: 0 1 20%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin-right: 10px;
	}
	&__row:last-child {
		flex: 0 1 80%;
	}
	&__sale {
		text-align: center;
	}
	&__text:first-child {
		font-size: 40px;
		font-weight: 500;
		text-transform: uppercase;
		color: #fff;
		margin: 30px 0 65px;
	}
	&__text:last-child {
		font-size: 90px;
		font-weight: 500;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 10px;
	}
	& .main-sections__box {
		background-color: #494d4e;
	}
	&__clock {
		margin-bottom: 30px;
	}
	& .flip-clock .flip-clock-group .flip-clock-label {
		font-size: 14px;
		color: #fff;
	}
	& .flip-clock .flip-clock-group .flip-clock-list .flip-clock-list-item-inner > .top,
	& .flip-clock .flip-clock-group .flip-clock-list .flip-clock-list-item-inner > .bottom {
		font-size: 34px;
 	}
	& .flip-clock .flip-clock-group .flip-clock-list {
	 width: 25px;
	 height: 45px;

		&:not(:first-child) {
			margin: 0;
		}
	}
	& .flip-clock .flip-clock-group:first-child {
		.flip-clock-list:nth-child(3) {
			margin: 0;
			margin-left: .333em;
		}
	}
	& .flip-clock .flip-clock-divider {
	 width: 15px;
	 height: 45px;
	}
	& .flip-clock .flip-clock-divider:before, 
	 .flip-clock .flip-clock-divider:after {
	 width: 7px;
	 height: 7px;
	}
	& .main-sections__item {
		width: 230px;
		border: none;

		border-radius: 0px;

		background-color: #fff;
		
		padding: 10px;
		margin: 5px;
	}
	& .main-sections__item-img {
		width: 170px;
		height: 200px;
		border-radius: 15px;
		margin: 15px 0 25px;
		transition: all .5s;
	}
	& .product-ajax__price-box {
		justify-content: center;
	}
	& .product-ajax__buttons-cart {
		margin-right: 0;
	}
	& .product-ajax__rating-before::before {
		left: 0;
	}
	& .product-ajax__rating-after::before {
		left: 0;
	}
}
//====================================main-sale-timer======================

//====================================main-categories======================
.main-categories {
	&__inner {
		border-radius: 15px;
		background-color: #494d4e;
		padding: 20px;
	}
	&__cat {
		display: flex;
		margin-bottom: 30px;
	}
	&__cat-item {
		background-color: $blueColor;
		cursor: pointer;
		transition: all .5s;
		padding: 25px 50px;
		margin-right: 10px;

		&:not(:first-child) {
		margin-left: 10px;
		}
		&:first-child {
			padding: 25px 61px;
		}
		&.show {
			background-color: $greyHover;
		}
	}
}
//====================================main-categories======================

//====================================main-categories-slider===============
.main-categories {
	&__slider-box {
		position: fixed;
		top: 1000%;
		left: 1000%;
		opacity: 0;
		width: 1200px;
		max-width: 100%;
	}
	&__slider-box.visible {
		position: static;
		top: auto;
		left: auto;
		width: 100%;
		border: 2px solid $grey;
		border-radius: 5px;
		opacity: 1;
		margin: 0 auto;
	}
	&__slider-item {
		position: relative;
		height: 100%;
		border: 3px solid silver;
		border-radius: 5px;
		background: #fff;
		padding: 5px;
		margin: 10px 10px;
		
		&:hover {
			border: 3px solid $blueColor;
		}
	}
	&__slider-item-link {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
	}
	&__tags {
		position: absolute;
		top: 15px;
		left: 15px;
	}
	&__tag-sale {
		text-transform: uppercase;
		font-size: 12px;
		line-height: 12px;
		font-weight: 500;
		letter-spacing: 1px;
		color: #fff;
		background-color: #86b52d;
		padding: 10px 20px;
	}
	& .second .main-categories__tag-sale {
		background-color: #ff960c;
	}
	& .third .main-categories__tag-sale {
		background-color: rgb(219, 27, 27);
	}
	&__slider-item-img {
		width: 150px;
		height: 200px;
		padding: 0 0px 10px;
		margin: 0 auto;
	}
	&__slider-item-element-article,
	&__slider-item-price {
		font-size: 12px;
		line-height: 12px;
		color: $greySliderArticle;
		margin-bottom: 10px;
	}
	&__slider-item-element-title {
		font-size: 16px;
		font-weight: 500;
		line-height: 18px;
		margin-bottom: 40px;
	}
	&__slider-item-inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__slider-item-price {
		font-weight: 500;
		text-decoration: line-through;
		margin-bottom: 5px;
	}
	&__slider-item-discount-price {
		font-size: 18px;
		font-weight: 500;
	}
	&__slider-item-elem-right {
		z-index: 100;
		margin-top: 6px;

		& button {
			background: transparent;
			margin-bottom: 15px;
		}
	}
	&__slider-item-btn::before {
		content: "\e901";
		font-family: 'icomoon';
		font-size: 18px;
		border: 1px solid #000;
		border-radius: 5px;
		padding: 5px 15px;
		transition: color .5s;
	}
	&__slider-item-btn:hover::before {
		color: $blueHover;
		border-color: $blueHover;
	}
	&-next,
	&-prev {
		position: absolute;
		top: -96px;
		background: transparent;
		z-index: 10;
	}
	&-next {
		right: 0%;
	}
	&-prev {
		right: 6%;
	}
	&-next::before,
	&-prev::before {
		font-family: 'icomoon';
		font-size: 40px;
		border-radius: 5%;
		background-color: $grey;
		transition: background-color .3s;
		padding: 0 25px;
	}
	&-next:hover:before,
	&-prev:hover:before {
		background-color: $greyHover;
	}
	&-next::before {
		content: "\e907";
		margin-left: 10px;
	}
	&-prev::before {
		content: "\e906";
		margin-right: 10px;
	}
}
//====================================main-categories-slider==============

//====================================main-list-cats-slider===============
/*.main-list-cats {
	& .container {
		padding: 0;
	}
}
.main-list {
	&__slider-inner {
		display: flex !important;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 1px;
		height: 200px;
		background-color: rgba(0,0,0, .8);
		padding: 0 5px;
		margin: 0 auto;
	}
	&__slider-item {
		min-height: 1px;
		height: 174px;
		text-align: center;
		margin: 0 auto;
	}
	&__slider-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80%;
		min-height: 1px;
		height: 100%;
		margin: 0 20px;
		border-radius: 5px;
		background-color: transparent;
	}
	&__slider-img-box{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		max-width: 100%;
		min-height: 1px;
		height: 100px;
		border-radius: 50%;
		background-color: #fff;
		margin: 0 auto 10px auto;
	}
	&__slider-img {
		width: 60px !important;
		max-width: 100%;
		min-height: 1px;
		height: 60px;
	}
}*/
.main-list {
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		border-radius: 15px;
		background-color: #494d4e;
		padding: 20px;
	}
	&__item {
		flex: 1 1 24%;
		display: flex;
		justify-content: center;
	}
	&__box {
		min-width: 280px;
		min-height: 200px;
		padding: 5px;
		transition: all .5s;
		margin: 5px 5px 15px;
	}
	&__link {
		text-align: center;
	}
	&__img {
		width: 280px;
		height: 323px;
		margin-bottom: 10px;
	}
	&__sub-title {
		font-size: 18px;
		font-weight: 500;
		transition: all .5s;
	}
}
//====================================main-list-cats-slider===============

//====================================main-sections=======================
.main-sections {
	&__inner {
		margin: 0 auto;
	}
	&__row {
		width: 100%;
		min-height: 540px;
		height: 100%;
	}
	&__row:not(:first-child) {
		padding: 50px 0 0;
	}
	&__box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		background-color: #494d4e;
		border-radius: 15px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 240px;
		border: 2px solid transparent;
		text-align: center;
		margin: 20px;
		transition: all .5s;
		position: relative;
	}
	& .main-categories__slider-item-ajax::before {
		top: calc((49 * 200px) / 100);
	}
	&__item-img {
		width: 200px;
		height: 220px;
		margin: 20px 0;
	}
	&__item-title {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 20px;
	}
	&__item-price-box {
		margin-bottom: 20px;
	}
	& .product-ajax__rating-before::before,
	& .product-ajax__rating-after::before {
		left: 0;
	}
	& .product-ajax__price-box {
		justify-content: center;
	}
	& .product-ajax__price--discount {
		font-size: 20px;
		color: #000;
	}
	& .product-ajax__price--default {
		font-size: 20px;
		margin-right: 0;
	}
	& .product-ajax__buttons-cart {
		font-size: 15px;
		margin-right: 0;
		margin-bottom: 20px;
	}
}
.main .title {
	font-size: 30px;
	font-weight: 500;
	margin: 0px 0 15px;
}
//====================================main-sections=======================

//====================================main-discounts======================
.main-discounts {
	& .container {
		padding: 0;
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		background-color: rgba(0,0,0,0.8);
		padding: 15px 20px;
	}
	&__item {
		width: 210px;
		height: 100%;
		border: 3px solid transparent;
		border-radius: 5px;
		transition: all .5s;
	}
	&__title {
		font-size: 18px;
		font-weight: 500;
		margin: 15px 0 20px;
	}
	&__title--hot-yellow {
		color: #ffb400;
	}
	&__title--green {
		color: #68cd20;
	}
	&__title--light-red {
		color: #fd6130;
	}
	&__title--pink {
		color: #ff5b9d;
	}
	&__title--light-blue {
		color: #26c0ff;
	}
	&__img {
		width: 200px;
		height: 230px;
		border-radius: 10px;
		margin-bottom: 20px;
	}
	&__link {
		width: 100%;
		font-size: 16px;
		background: royalblue;
		border-radius: 5px;
		padding: 15px 0px;
		margin-bottom: 20px;
		transition: all 1.5s;
	}
}
//====================================main-discounts======================

//====================================main-reviews========================
.main-reviews {
	&__slider {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 400px;
		height: 100%;
		text-align: center;
		padding: 20px 0;
	}
	& .slick-initialized .slick-slide {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	& .slick-track {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__img {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		margin-bottom: 20px;
	}
	&__name {
		font-size: 25px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	&__text {
		font-size: 16px;
		line-height: 25px;
	}
	& button {
		background: transparent;
	}
	&-next::before,
	&-prev::before {
		font-family: 'icomoon';
		font-size: 32px;
		line-height: 32px;
		color: #fff;
		border-radius: 50%;
		background-color: rgb(119, 115, 115);
		padding: 15px 25px;
		transition: all .5s;
	}
	&-next::before {
		content: "\e907";
		margin-left: 30px;
	}
	&-prev::before {
		content: "\e906";
		margin-right: 30px;
	}
}
//====================================main-reviews========================

//====================================main-footer=========================
.footer {
	& .container {
		background-color: #000;
		padding: 0px 20px;
	}
	&-top {
		display: flex;
		padding: 20px 0;
	}
	&__row:first-child {
		flex: 0 1 30%;
		margin-right: 20px;
	}
	&__row:last-child {
		display: flex;
		flex: 1 1 80%;
	}
	&__info {
		margin-bottom: 35px;
	}
	&__info-text,
	&__subscribe-text {
		color: rgb(204, 202, 202);
		line-height: 20px;
	}
	&__subscribe-text {
		margin-bottom: 15px;
	}
	&__form {
		display: flex;
	}
	&__form-input {
		height: 40px;
		border-radius: 5px 0 0 5px;
		background-color: #fff;
		padding: 5px;
	}
	&__form-btn {
		text-transform: uppercase;
		font-weight: 500;
		color: #fff;
		background-color: $blueColor;
		border-radius: 0 5px 5px 0;
		padding: 12px 15px;
		transition: background-color .5s;

		&:hover {
			background-color: $blueHover;
		}
	}
	&__menu {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	&__menu-items {
		margin: 0 15px;
	}
	&__menu-item,
	&__contact-us-item {
		margin: 10px 0;
	}
	&__menu-link {
		color: rgb(204, 202, 202);
		transition: color .5s;

		&:hover {
			color: $blueHover;
		}
	}
	&__contact-us-list {
		margin-bottom: 35px;
	}
	&__contact-us-link,
	&__contact-us-text {
		color: rgb(204, 202, 202);
		transition: all .5s;

		&:hover {
			color: $blueHover;
		}
	}
	&__contact-us-text:first-child {
		line-height: 26px;
	}
	&__socials-list {
		display: flex;
	}
	&__socials-item:not(:first-child) {
		margin-left: 15px;
	}
	&__socials-item:not(:last-child) {
		margin-right: 15px;
	}
	&__socials-link {
		font-family: 'icomoon';
		font-size: 35px;
		color: #fff;
		transition: all .5s;

		&:hover {
			color: $blueHover;
		}
	}
	&__socials-link-facebook::before {
		content: "\e910";
	}
	&__socials-link-twitter::before {
		content: "\e90e";
	}
	&__socials-link-pinterest::before {
		content: "\e90a";
	}
	&__socials-link-youtube::before {
		content: "\e90d";
	}
	&__socials-link-instagramm::before {
		content: "\e90f";
	}
	& .title {
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
}
.footer-bottom {
	border-top: 1px solid #fff;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		min-height: 100px;
		padding: 20px 0 0;
	}
	.footer-bottom__license {
		line-height: 20px;
		margin-right: 10px;
	}
	&__img {
		width: 80px;
		height: 40px;
		margin: 0 5px 20px 0;
	}
}
//====================================main-footer=========================

//====================================main-cat-breadcumb==================
.breadcrumb {
	&__list {
		display: flex;
	}
	&__item {
		position: relative;
		background-color: #cecde3;
		padding: 6px 16px;

		&:not(:first-child) {
			margin-left: 18px;

			&::before {
				position: absolute;
				content: '';
				top: 0;
				left: -13px;
				border: 13px solid #cecde3;
				border-left: 13px solid transparent;
			}
		}
		&::after {
			position: absolute;
			content: '';
			top: 5px;
			right: -9px;
			width: 17px;
			height: 17px;
			transform: rotate(45deg);
			background-color: #cecde3;
		}
	}
}
//====================================main-cat-breadcumb==================

//====================================main-cat-filter=====================
	.filter {
		&__inner {
			width: 200px;
		}
	}
//====================================main-cat-filter=====================

//====================================main-cat-content====================

//====================================main-cat-content====================

//====================================main-magnific-popup-ajax-type=======
.main {
	&-categories__slider-item-ajax {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
	&-categories__slider-item-ajax::before {
		position: absolute;
		content: "\e911";
		top: calc((28 * 200px) / 100);
		left: 0;
		right: 0;
		width: 60px;
		height: 60px;
		background: rgba(255, 255, 255, 1);
		border-radius: 50%;
		font-family: 'icomoon';
		font-size: 30px;
		color: #0003f6;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		z-index: 10;
		transform: scale(0);
		transition: all .5s;
	}
}
.product-ajax {
	&__img {
		width: 100%;
		height: auto;
	}
	&__row:first-child {
		flex: 1 1 40%;
		margin-right: 20px;
	}
	&__row:last-child {
		flex: 1 1 60%;
	}
	&__title {
		font-size: 30px;
		font-weight: 500;
		margin-bottom: 20px;
	}
	&__rating {
		position: relative;
		width: 105px;
		padding-bottom: 20px;
		margin: 0 auto 20px auto;
	}
	&__rating-before::before,
	&__rating-after::before {
		position: absolute;
		top: 0;
		left: 0;
		font-family: 'icomoon';
		color: $blueColor;
		font-size: 18px;
		letter-spacing: 5px;
	}
	&__rating-before::before {
		content: "\e90b \e90b \e90b \e90b \e90b";
	}
	&__rating-after::before {
		content: "\e90c\e90c\e90c";
	}
	&__price-box {
		display: flex;
		align-items: flex-end;
		width: 100%;
		margin-bottom: 30px;
	}
	&__price {
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		margin-right: 20px;
	}
	&__price--discount {
		font-size: 30px;
		font-weight: 600;
		color: $blueColor;
		margin-right: 10px;
	}
	&__price--default {
		color: $greySliderArticle;
		text-decoration: line-through;
	}
	&__about,
	&__manufacturer,
	&__label {
		font-size: 15px;
		line-height: 20px;
		color: $blackAjaxPopup;
		margin-bottom: 20px;
	}
	&__wrapper select {
		width: 250px;
		height: 40px;
		font-family: inherit;
		font-size: 20px;
		font-weight: 500;
		border-radius: 5px;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		@include background-img("../img/icons/triangle.png", no-repeat, top right);
		background-size: 20% 100%;
		background-color: #fff;
		cursor: pointer;
		padding: 0 5px;
		margin-bottom: 30px;
	}
	&__wrapper .select__item {
		width: 50%;
	}
	&__buttons {
		display: flex;
	}
	&__buttons-quantity{
		display: flex;
		align-items: center;
	}
	&__buttons-label {
		font-size: 16px;
		font-weight: 500;
		line-height: 26px;
		margin-right: 10px;
	}
	&__buttons-input {
		width: 50px;
		height: 43px;
		border: 1px solid #000;
		font-size: 20px;
		line-height: 1px;
		text-align: center;
		margin-right: 20px;
	}
	&__buttons-btns {
		display: flex;
		align-items: center;
	}
	&__buttons-cart {
		font-size: 20px;
		text-transform: uppercase;
		background: $blueColor;
		border-radius: 5px;
		padding: 10px 20px;
		margin-right: 20px;
		transition: all .5s;

		&:hover {
			background: $blueHover;
		}
	}
	&__buttons-wishes {
		background: transparent;
	}
	&__buttons-wishes::before {
		font-family: 'icomoon';
		content: "\e902";
		font-size: 45px;
	}
}
.mfp-content {
	display: inline-flex;
	align-items: center;
}
.mfp-close-btn-in .mfp-close {
	width: 40px;
	height: 40px;
	border: 4px solid #000;
	border-radius: 50%;
	background: #fff;
	font-size: 40px;
	line-height: 0;
	color: #000;
	top: -23px;
	right: -23px;
	transition: all 0.5s;
	box-shadow: 0px 0px 2px 1px;
	text-shadow: 0px 2px 0px #757371;
}
//====================================main-magnific-popup-ajax-type=======



@import "mediaAnyHover";
@import "media";